.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.inp{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top:7vh;
}

.container{
  flex: content;
  flex-direction: column;
  align-content: center;
}
.list{
  margin-left:25vw;
}

.head{
  align-content: center;
  justify-content: center;
  margin-left:42vw;
  color: rgb(14, 234, 237);
  margin-top:15vh;
}


/*------------ delete */
.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 1px 4px;
  border-radius: 12px;
  font-size: 1rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}


/*------------ completed */
.pushable1 {
  background: rgb(163, 114, 0);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front1 {
  display: block;
  padding: 1px 4px;
  border-radius: 12px;
  font-size: 1.0rem;
  background: rgb(255, 242, 2);
  color: rgb(0, 0, 0);
  transform: translateY(-6px);
}

.pushable1:active .front1 {
  transform: translateY(-2px);
}


/*------------ add to list */
.pushable2 {
  background: rgb(50, 139, 5);
  border-radius: 17px;
  border:solid 2px;
  padding: 1.8px;
  cursor: pointer;
  outline-offset: 4px;
}
.front2 {
  display: block;
  padding: 8px 6px;
  border-radius: 12px;
  font-size: 1.0rem;
  background: rgb(6, 252, 63);
  color: rgb(12, 4, 22);
  transform: translateY(-6px);
}

.pushable2:active .front2 {
  transform: translateY(-2px);
}
